LLVP_ZLM_SECRET=REPLACE_WITH_LOCAL_SECRET
LLVP_ZLM_BASE_URL=http://zlm
# Set this to the Ubuntu host IP when the browser runs on another machine.
LLVP_PUBLIC_ZLM_HOST=127.0.0.1
LLVP_PUBLIC_ZLM_HTTP_PORT=8080
