DRONE_STREAM_ZLM_SECRET=REPLACE_WITH_LOCAL_SECRET
DRONE_STREAM_ZLM_HOOK_SECRET=REPLACE_WITH_LOCAL_HOOK_SECRET
DRONE_STREAM_ZLM_BASE_URL=http://zlm
DRONE_STREAM_PUBLIC_ZLM_HOST=127.0.0.1
DRONE_STREAM_PUBLIC_ZLM_HTTP_PORT=8080
ZLM_RTC_EXTERN_IP=127.0.0.1
